#This is my
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#This is Udemy
# <IfModule mod_rewrite.c>
#   Options -Multiviews
#   RewriteEngine On
#   #RewriteBase /shareposts/public
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
# </IfModule>

# For http://localhost:3000 
Header set Access-Control-Allow-Origin "*"
